<html>
<head>
<style>
#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  background: background: #2e5668;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
  background: white;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover { 
  background-color: #ddd;
  }

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #2e5668;
  color: white;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #2e5668;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #2e5668;
}

div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
 body {
        overflow: auto;
        background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRIfQgkvet2bzIAC0hlMopA61o1Ey-_LvZNZg&usqp=CAU");
    }
</style>
</head>

<body>
<h1 style="text-align: center; color: white"><u>Email Notifications</u></h1>

<div>
<table id="customers">
  <thead>
    <tr>
      <th>Id</th>
      <th>Title</th>
      <th>Content</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.id %></td>
        <td><%= post.title %></td>
        <td><%= simple_format(post.content) %></td>
        <td><%= link_to 'PDF', post_path(post, format: :pdf) %></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br/>
<div>
<h3>Import Reports</h3>
<%= link_to 'New Report', new_post_path %>
<br/>
<%= link_to "Reports PDF", posts_path(format: :pdf) %>
</div>
</body>
</html>